./mcool_files/48521_1#1.mcool
./mcool_files/48521_1#10.mcool
./mcool_files/48521_1#11.mcool
./mcool_files/48521_1#12.mcool
./mcool_files/48521_1#2.mcool
./mcool_files/48521_1#3.mcool
./mcool_files/48521_1#4.mcool
./mcool_files/48521_1#5.mcool
./mcool_files/48521_1#6.mcool
./mcool_files/48521_1#7.mcool
./mcool_files/48521_1#8.mcool
./mcool_files/48521_1#9.mcool
./mcool_files/barcode_01.mcool
./mcool_files/barcode_02.mcool
./mcool_files/barcode_03.mcool
./mcool_files/barcode_04.mcool
./mcool_files/barcode_05.mcool
./mcool_files/barcode_06.mcool
./mcool_files/barcode_07.mcool
./mcool_files/barcode_08.mcool
./mcool_files/barcode_09.mcool
./mcool_files/barcode_10.mcool
./mcool_files/barcode_11.mcool
./mcool_files/barcode_12.mcool
