./mcool_files/48521_1#1.mcool
./mcool_files/48521_1#10.mcool
./mcool_files/48521_1#11.mcool
./mcool_files/48521_1#12.mcool
./mcool_files/48521_1#2.mcool
./mcool_files/48521_1#3.mcool
./mcool_files/48521_1#4.mcool
./mcool_files/48521_1#5.mcool
./mcool_files/48521_1#6.mcool
./mcool_files/48521_1#7.mcool
./mcool_files/48521_1#8.mcool
./mcool_files/48521_1#9.mcool
./mcool_files/barcode_01.mcool
./mcool_files/barcode_02.mcool
./mcool_files/barcode_03.mcool
./mcool_files/barcode_04.mcool
./mcool_files/barcode_05.mcool
./mcool_files/barcode_06.mcool
./mcool_files/barcode_07.mcool
./mcool_files/barcode_08.mcool
./mcool_files/barcode_09.mcool
./mcool_files/barcode_10.mcool
./mcool_files/barcode_11.mcool
./mcool_files/barcode_12.mcool
./orientations/48521_1#10_orientations.csv
./orientations/48521_1#11_orientations.csv
./orientations/48521_1#12_orientations.csv
./orientations/48521_1#1_orientations.csv
./orientations/48521_1#2_orientations.csv
./orientations/48521_1#3_orientations.csv
./orientations/48521_1#4_orientations.csv
./orientations/48521_1#5_orientations.csv
./orientations/48521_1#6_orientations.csv
./orientations/48521_1#7_orientations.csv
./orientations/48521_1#8_orientations.csv
./orientations/48521_1#9_orientations.csv
./orientations/barcode01_orientations.csv
./orientations/barcode02_orientations.csv
./orientations/barcode03_orientations.csv
./orientations/barcode04_orientations.csv
./orientations/barcode05_orientations.csv
./orientations/barcode06_orientations.csv
./orientations/barcode07_orientations.csv
./orientations/barcode08_orientations.csv
./orientations/barcode09_orientations.csv
./orientations/barcode10_orientations.csv
./orientations/barcode11_orientations.csv
./orientations/barcode12_orientations.csv
